{
	"target": "linux/amd64",
	"http": "127.0.0.1:56741",
	"workdir": "/home/punnal/Documents/Projects/audit-fuzzing/ubuntu-desktop/syzkaller/workdir",
  "kernel_obj": "/home/punnal/Documents/Projects/audit-fuzzing/linux",
	"image": "/home/punnal/Documents/Projects/audit-fuzzing/ubuntu-desktop/ubuntu.img",
	"sshkey": "/home/punnal/Documents/Projects/audit-fuzzing/ubuntu-desktop/root_id_rsa",
	"syzkaller": "/home/punnal/go/src/github.com/google/syzkaller",
  "reproduce": false,
	"procs": 1,
  "type": "qemu",
	"enable_syscalls": [
	"open",
	"stat",
	"poll",
	"lseek",
	"munmap",
	"rt_sigaction",
	"rt_sigprocmask",
	"rt_sigreturn",
	"readv",
	"writev",
	"pipe",
	"select",
	"sched_yield",
	"mremap",
	"msync",
	"mincore",
	"madvise",
	"shmget",
	"shmat",
	"shmctl",
	"dup",
	"dup2",
	"pause",
	"getitimer",
	"alarm",
	"setitimer",
	"getpid",
	"sendfile",
	"connect",
	"accept",
	"sendto",
	"recvfrom",
	"sendmsg",
	"recvmsg",
	"shutdown",
	"bind",
	"listen",
	"getsockname",
	"getpeername",
	"socketpair",
	"execve",
	"exit",
	"uname",
	"semget",
	"semop",
	"semctl",
	"shmdt",
	"msgget",
	"msgsnd",
	"msgrcv",
	"msgctl",
	"fcntl",
	"flock",
	"fsync",
	"fdatasync",
	"truncate",
	"ftruncate",
	"getcwd",
	"fchdir",
	"rename",
	"creat",
	"link",
	"readlink",
	"chmod",
	"fchmod",
	"chown",
	"fchown",
	"lchown",
	"getrlimit",
	"getrusage",
	"sysinfo",
	"times",
	"ptrace",
	"getuid",
	"syslog",
	"getgid",
	"setuid",
	"setgid",
	"geteuid",
	"getegid",
	"getpgrp",
	"setreuid",
	"setregid",
	"getgroups",
	"setgroups",
	"setresuid",
	"getresuid",
	"setresgid",
	"getresgid",
	"getpgid",
	"setfsuid",
	"setfsgid",
	"capget",
	"capset",
	"rt_sigpending",
	"rt_sigtimedwait",
	"rt_sigqueueinfo",
	"rt_sigsuspend",
	"sigaltstack",
	"utime",
	"mknod",
	"uselib",
	"personality",
	"ustat",
	"statfs",
	"fstatfs",
	"sysfs",
	"getpriority",
	"setpriority",
	"sched_setparam",
	"sched_getparam",
	"sched_setscheduler",
	"sched_getscheduler",
	"sched_rr_get_interval",
	"mlock",
	"munlock",
	"mlockall",
	"munlockall",
	"modify_ldt",
	"pivot_root",
	"arch_prctl",
	"setrlimit",
	"chroot",
	"sync",
	"acct",
	"mount",
	"iopl",
	"ioperm",
	"init_module",
	"delete_module",
	"quotactl",
	"gettid",
	"readahead",
	"setxattr",
	"lsetxattr",
	"fsetxattr",
	"getxattr",
	"lgetxattr",
	"fgetxattr",
	"listxattr",
	"llistxattr",
	"flistxattr",
	"removexattr",
	"lremovexattr",
	"fremovexattr",
	"tkill",
	"time",
	"sched_setaffinity",
	"sched_getaffinity",
	"set_thread_area",
	"io_setup",
	"io_destroy",
	"io_getevents",
	"io_submit",
	"io_cancel",
	"get_thread_area",
	"lookup_dcookie",
	"epoll_create",
	"remap_file_pages",
	"getdents64",
    "set_tid_address",
	"restart_syscall",
	"semtimedop",
	"fadvise64",
    "timer_create",
	"timer_settime",
	"timer_gettime",
	"timer_getoverrun",
	"timer_delete",
	"clock_settime",
	"clock_getres",
	"clock_nanosleep",
	"epoll_wait",
	"epoll_ctl",
	"tgkill",
	"utimes",
	"mbind",
	"set_mempolicy",
	"get_mempolicy",
	"mq_open",
	"mq_unlink",
	"mq_timedsend",
	"mq_timedreceive",
	"mq_notify",
	"mq_getsetattr",
	"kexec_load",
	"waitid",
	"add_key",
	"request_key",
	"keyctl",
	"ioprio_set",
	"ioprio_get",
	"inotify_init",
	"inotify_add_watch",
	"inotify_rm_watch",
	"migrate_pages",
	"mkdirat",
	"mknodat",
	"fchownat",
	"futimesat",
	"newfstatat",
	"unlinkat",
	"renameat",
	"linkat",
	"symlinkat",
	"readlinkat",
	"fchmodat",
	"faccessat",
	"pselect6",
	"ppoll",
	"unshare",
	"get_robust_list",
	"splice",
	"tee",
	"sync_file_range",
	"vmsplice",
	"move_pages",
	"utimensat",
	"epoll_pwait",
	"signalfd",
	"eventfd",
	"fallocate",
	"timerfd_settime",
	"timerfd_gettime",
	"accept4",
	"signalfd4",
	"eventfd2",
	"epoll_create1",
	"dup3",
	"pipe2",
	"inotify_init1",
	"preadv",
	"pwritev",
	"rt_tgsigqueueinfo",
	"perf_event_open",
	"recvmmsg",
	"fanotify_init",
	"fanotify_mark",
	"prlimit64",
	"name_to_handle_at",
	"open_by_handle_at",
	"clock_adjtime",
	"syncfs",
	"sendmmsg",
	"setns",
	"process_vm_readv",
	"process_vm_writev",
	"kcmp",
	"finit_module"
	]
,
	"vm": {
		"count": 1,
    "kernel": "/home/punnal/Documents/Projects/audit-fuzzing/linux/arch/x86/boot/bzImage",
    "initrd": "/home/punnal/Documents/Projects/audit-fuzzing/ubuntu-desktop/initrd.img",
    "cmdline": "root=/dev/sda5",
		"cpu": 1,
		"mem": 2048,
    "snapshot": false
	}
}
